
<% unless @userwebsites.length == 0 %>
<div class="websites_dashboard">
  <% @userwebsites.each do |userwebsite| %>
  <div class="website" >
    <div class="website_individual" data-web="<%= userwebsite.id %>"
      ondragover="evdragoverwebsite(event)"
      ondrop="evdropwebsite(event,this)"
      ondragenter="evdragenterwebsite(event,this)"
      ondragleave="evdragleavewebsite(event,this)">
      <span class="website-name"data-edit-web-name="<%= userwebsite.id %>"><%= userwebsite.decorate.name_of_website %></span>
      <div class="delete-website optionswebsites" data-delete-web="<%= userwebsite.id %>">
        <%= link_to (image_tag 'delete.png'), "/user_websites/#{userwebsite.id}", :method => 'DELETE', data: { :confirm=>'Are you sure to delete this website?'} %>
      </div>
      <div class="edit-website optionswebsites" data-edit-web="<%= userwebsite.id %>">
        <%= image_tag 'edit.png' %>
      </div>
      <div class="screenshot">

        <a href="<%= userwebsite.website.url%>" target="_blank">
          <%=image_tag userwebsite.website.decorate.screenshot%>
        </a>
      </div>
      <div class="tagscontainer">
        <% @tags_websites.where(website_id: userwebsite.website.id).each do |tag_website| %>
        <% usertag = @user_tags.find_by(tag_id: tag_website.tag_id) %>
        <div class="label tags label-<%= Color.find(usertag.tag_color).name %> size0"
            data-mini-tag="<%= tag_website.tag_id %>"
            data-tag-website="<%= tag_website.id %>"
            draggable="true"
            ondragstart="evdragstartminitag(event,this)"
            ondragend="evdragendminitag()">

          <%= usertag.tag.name %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="delete-mini-tag my-button my-button-sm"
     ondragover="evdragoverminitag(event)"
     ondrop="evdropminitag(event,this)"
     ondragenter="evdragenterminitag(event,this)"
     ondragleave="evdragleaveminitag(event,this)">
     UNPIN TAG
    </div>
  </div>
  <% end %>
</div>
<% else %>
<div class="websites_dashboard websites_dashboard_empty">
  <div class="while_charge">
  <- Add a new website
  </div>
</div>
<% end %>
