
<div class="container-fluid">
  <div class="row">
    <%= render :partial => 'top' %>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <%= render :partial => 'button-side' %>
    </div>
    <div class="col-sm-8">
      <%= render :partial => 'websites' %>
    </div>
    <div class="col-sm-2">
      <%= render :partial => 'tagside' %>
    </div>
  </div>
</div>
<%= render :partial => 'modals' %>
