<div class="delete-tag"
 ondragover="evdragovertag(event)"
 ondrop="evdroptag(event,this)"
 ondragenter="evdragentertag(event,this)"
 ondragleave="evdragleavetag(event,this)">
 DELETE TAG
</div>
<div class="tagscontainer-side">
  <% @usertags.each do |user_tag| %>
    <div class="tags side-tags tag-color-<%= Color.find(user_tag.tag_color).name %> size<%= user_tag.relative_size_for_user(@max_websites_tag) %>" data-user-tag="<%= user_tag.id %>" draggable="true"
    ondragstart="evdragstarttag(event,this)" ondragend="evdragendtag()">
      <%= user_tag.tag.name %>
      <div class="edit-tag"
          data-edit-tag="<%= user_tag.id %>"
          data-user-tag-color="<%= Color.find(user_tag.tag_color).name %>"
          data-tag-name="<%= user_tag.tag.name %>">
        <%= image_tag 'edit.png' %>
      </div>
    </div>

  <% end %>
</div>
