<!DOCTYPE html>
<html>
  <head>
    <title>Iron&Favs</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class ="radial-background">
    <%= content_tag :div, class: "temp_information", data: {temp: @all_user_websites} do %>
    <% end %>
    <% flash.each do |key, value| %>
      <div class="alert"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
