<!DOCTYPE html>
<html>
  <head>
    <title>My Top 8</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <%= yield %>
        </div>
        <div class="col-sm-2">
          <%= @tags = current_user.tags
              render :template => 'tag/show' %>
        </div>
      </div>
    </div>
  </body>
</html>
